* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

html::-webkit-scrollbar {
    display: none;
}

header{
    background-color: rgba(220, 210, 210, 0.9);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 1rem;
    position: sticky;
    top: 0;
    z-index: 3;
    width: 100%;
}
header>a {
    height: 4rem;
    width: 4rem;
    display: grid;
    place-items: center;
    border-radius: 50%;
    color: #567582;
    background-color: transparent;
    /* outline: #f1efde solid 3px; */
    /* background-color: #f1efde; */
    font-size: 1.7rem;
    transition: all .3s;
}


header> a:hover {
    color: #003352;
    background: white;
    font-size: 2rem;
    box-shadow: 0 0 2rem black;
    /* outline: white solid 4px; */
    /* background-color: white; */
}

.head {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
   
    
}

.head>a {
    text-decoration: none;
    padding: 30px;
    background-color: rgba(245, 243, 243, 0.1);
    color: white;
    
    font-size: 1.2rem;
    font-weight: 700;
    transition: all .7s;
    
}

.head>a:hover {
    background-color: white;
    color: rgb(116, 118, 121);
    box-shadow: 0 0 3px gray;
    font-weight: 700;

}


.font-reset {
    font-size: 0 !important;
}

.image-section {
    position: relative;
}

.image-section .image>img {
    width: 100%;
    height: 500px;
}

.image-section .image-contain {
    background-color: rgba(255, 253, 241, 0.2);
    border-radius: 8px;
    padding: 5rem 10rem;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all .9s;
}

/* .image-contain {
    background-color: #ffffff02;
    backdrop-filter: blur(15px);
    border-radius: 9px;
} */

.image-contain:hover{
    background-color: rgba(27, 24, 24, 0.938);
    box-shadow: 0 0 3rem white;
    background-color: transparent;
    backdrop-filter: blur(15px); 
    border-radius: 9px;
    /* color: rgba(147, 241, 16, 0.689); */
}

.image-contain h1, h2{
    font-size: 2.5rem;
}


.image-contain p{
    font-size: 1.5rem;
}




.second-contain p{
    font-size: 1rem;
    text-indent: 50px;
    text-align: justify;
    letter-spacing: 2px;
}
.second-contain h2{
   font-size: 2.5rem;
}
span {
    font-size: 1.9rem;
    font-weight: 900;
}

.second-contain h1 {
    font-size: 2.5rem;
    text-align: center;
    padding: 10px 0;
}

.second-contain {
    position: relative;
}

.second-contain .Brifing {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    letter-spacing: 1px;
    z-index: 1;

}
.Brifing >h1{
    box-shadow: 0 0 0  black;
    padding: 1rem 1.2rem;
}
.Brifing >h1:hover{
   transform: rotateX(360deg);
}

.Brifing >h1,
p {
    box-shadow: 0 1rem 1rem black;
    padding: 1.3rem  5rem;
} 

.center .image>img{
    position: relative;
}

/* .center .Brifing{
    position: absolute;
    top: 30%;
    left: 3%;
} */

.second-contain .Brifing h1 {
    margin-bottom: 3rem;
    text-align: left;
}

.second-contain .image>img {
    width: 100%;
    height: 600px;

}

.image-section .footer {
    background-color: #003352;
}

.image-section .footer>h1 {
    text-align: center;
    padding: 2rem 3rem;
    color: white;

}

.image-section .footer .social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #003352;
}

.social-media>a {

    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3.5rem;
    height: 3.5rem;
    background-color: transparent;
    /* border: .2rem solid#a0a1a5; */
    border-radius: 50%;
    font-size: 2rem;
    color: #a0a1a5;
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s ease;
}

.social-media .messenger:hover {
    background: white;
    color: blue;
    box-shadow: 0 0 1rem rgb(232, 226, 226);
}

.social-media .instagram:hover {
    background: white;
    color: #d62976;
    box-shadow: 0 0 1rem rgb(223, 215, 215);
}

.social-media .tiktok:hover {
    background: white;
    color: black;
    box-shadow: 0 0 1rem rgb(223, 215, 215);
}

.social-media .facebook:hover {
    background: white;
    color: rgba(6, 55, 249, 0.795);
    box-shadow: 0 0 1rem rgb(223, 215, 215);
}

.social-media .whatsapp:hover {
    background: white;
    color: rgb(10, 205, 10);
    box-shadow: 0 0 1rem rgb(223, 215, 215);
}


.copyright{
    text-align: center;
    padding: 0 10px 100px;
    color: whitesmoke;
    background-color: #003352;
    font-size: larger;
  
}

.up-copyright> a> .bi{
    color: #a0a1a5;
    width: 3.5rem;
    height: 3.5rem;
    font-size: 2rem;
    font-weight: 600;
    border-radius: 50%;
    background-color: transparent;
    align-items: center;
    display: flex;
    justify-content: center;
    transition: .5s ease;
}


.up-copyright>a> .bi:hover{
    background: white;
    color: blue;
    box-shadow: 0 0 1.5rem rgb(249, 242, 242);
}

.up-botton{
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    scroll-behavior: smooth;
}
